<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hermes.core.datasource.dao.IDataSourceInfoDao">
    
    <resultMap type="com.hermes.core.datasource.entity.DataSourceInfoEntity" id="dataSourceInfoEntity">
        <id property="id" column="ID"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="address" column="ADDRESS"/>
        <result property="port" column="PORT_"/>
        <result property="username" column="USERNAME"/>
        <result property="password" column="PASSWORD_"/>
    </resultMap>

    <insert id="insertNewDataSource" parameterType="com.hermes.core.datasource.entity.DataSourceInfoEntity"
            keyProperty="id" useGeneratedKeys="true" >
        INSERT INTO
            HMS_DATASOURCE_INFO
            (
                ID,
                CREATE_TIME,
                MODIFY_TIME,
                ADDRESS,
                PORT_,
                USERNAME,
                PASSWORD_
            )
            VALUES
            (
                0,
                current_timestamp ,
                current_timestamp ,
                #{address,jdbcType=VARCHAR},
                #{port,jdbcType=VARCHAR},
                #{username,jdbcType=VARCHAR},
                #{password,jdbcType=VARCHAR}
            )
    </insert>




</mapper>
