<?xml version="1.0" encoding="UTF-8"?>
<!--packages="com.lance.springcloud.client.log4j2"-->
<Configuration package="com.lance.springcloud.client.log4j2">

    <Properties>
        <Property name="pattern">%d %-5p %c:%L [%t] - [log4j2] %n</Property>
    </Properties>

    <Appenders>
        <!--<File name="FileAppender" fileName="logFile.log" append="true">-->
        <!--<PatternLayout pattern="%d %-5p %c:%L [%t] - %Y%n"/>-->
        <!--</File>-->

        <RollingFile name="InfoFileAppender" fileName="/home/ap/uncentury/jhzf/logs/jhzfLog.log"
                     filePattern="/home/ap/uncentury/jhzf/logs/%d{yyyy-MM-dd}-jhzfLog.log">
            <PatternLayout pattern="%d %-5p %c:%L [%t] - %m%n" />
            <!--<PatternLayout pattern="%d %-5p %c:%L [%t] - [log4j2] %Y%n"/>-->
            <!--<PatternLayout pattern="${pattern}"/>-->
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingFile>

        <Console name="STDOUT" target="SYSTEM_OUT">
             <PatternLayout pattern="%d %-5p %c:%L [%t] - %m%n" />
            <!--<PatternLayout pattern="%d %-5p %c [%t] - %Y%n"/>-->
            <!--<PatternLayout pattern="${pattern}"/>-->
        </Console>

    </Appenders>

    <Loggers>
        <Logger name="com.opensymphony.xwork2.ognl.OgnlValueStack" level="ERROR"/>
        <Logger name="net.sf.ehcache" level="INFO"/>
        <Logger name="com.alisoft.xplatform.asf" level="WARN"/>
        <Logger name="com.mbi" level="ERROR"/>
        <Logger name="net.mlw" level="INFO"/>
        <Logger name="java.sql" level="INFO"/>
        <Logger name="org.hibernate.type" level="ERROR"/>
        <Logger name="com.opensymphony.webwork" level="ERROR"/>
        <Logger name="org.apache" level="INFO"/>
        <Logger name="org.jgroups" level="WARN"/>
        <Logger name="org.jboss.axis" level="INFO"/>
        <Logger name="org.jboss.management" level="INFO"/>
        <Logger name="org.apache.commons.httpclient" level="ERROR"/>
        <Logger name="org.springframework" level="INFO"/>
        <Logger name="org.springboot" level="INFO" />

        <Root level="INFO"><!-- 缺省日志级别，如果package有定制级别，则按package的定制级别走，即使package级别更低 -->
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>